table{
    border-collapse:collapse;
    text-align: center;
}
th{
border: 2px, solid, black;

}
td{
    border: 2px, solid, black;
}

tr:nth-child(even){
    background-color: #FF50DF;
}
th:nth-child(odd),td:nth-child(odd){
    color:blue;
}

body{
    font-size: 1.5rem;
}
header, footer{
    text-align: center;
   
    
    
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    text-align:center;
    border-radius: 10px;
    font-family: vt323;
    font-size: smaller;
    background: pink;

        /*grid*/
    
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 6;
    
}
img{
    width: 300px;
    height: 300px;
}




/*container*/
.container{
    border: black, solid, 3px;
    border-radius: 30px;
    background-color: #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    

    /*grid for mobiel or desktop?
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    */


}

#grid{

     /*grid for mobiel or desktop?*/
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;

}

header.container{
    text-align: center;
    background-color: TOMATO;
    font-family:"Press Start 2P";

 
}
.time{
    display: flex;
    /*property for center horizontal
    justify-content: center;*/

    font-family:"Courier Prime";



}
.alert{
    display:flex;
    align-items: center;
    justify-content: center;

}
.bands{
    /*band specific font*/
    font-style: VT323;
    font-size: larger;
    border: 2px, red,groove;
    border-radius: 20px;
    padding: 20px;
}
.covers{

}
.entities{
    font-family:VT323;
    background: #abbada;

 
}
/*feed*/
.user{
    color: red;
    font-family:"Press Start 2P";
    font-size: 17px;
}
.message{
    color:green;
    font-style:VT323; /*seems to be not working */
    font-size: 17px;
}

/*adding desktop layout*/
@media screen and ( min-width : 800px ) {
/* Your desktop specifc styling here... */

    /*#grid*/

    #grid{
    display: grid;
    grid-template-columns: repeat(10, 150px);
    grid-template-rows: repeat(7, 100px);
    
    column-gap: 10px;
    row-gap: 15px;
    
    }

    header.container{


    /*grid*/
    
    grid-column-start: 3;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 1;
    }
    .time{

        display: grid;
        /*grid*/
        grid-column-start: 3;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 2;


    }
    .alert{


        /*grid*/
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .bands{

        /*grid*/
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .covers{
        /*grid*/
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 6;

    }
    .entities{


            /*grid*/
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    /*feed*/

        

}



