h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;

}




/* grid layout */
.container{
    display:grid;

    grid-template-columns: repeat(11, 1fr) ;
    grid-template-rows: repeat(11, 100px);
    border: black, solid, 2px;

/* grid layout */


}

.Item{
    border: black, solid, 2px;
    background-color: bisque;
}

.mid{
    grid-column:2/11;
    grid-row:2/11;
    background-color: white;
} 

/* top row */
.Item1{ 
    grid-column:1/2;
    grid-row:1/2;
}
.Item2{    
    grid-column:2/3;
    grid-row:1/2;
}
.Item3{ 
    grid-column:3/4;
    grid-row:1/2;
}
.Item4{
    grid-column:4/5;
    grid-row:1/2;
}
.Item5{
    grid-column:5/6;
    grid-row:1/2;
}
.Item6{
    grid-column:6/7;
    grid-row:1/2;
}
.Item7{
    grid-column:7/8;
    grid-row:1/2;
}
.Item8{
    grid-column:8/9;
    grid-row:1/2;
}
.Item9{
    grid-column:9/10;
    grid-row:1/2;
}
.Item10{
    grid-column:10/11;
    grid-row:1/2;
}
.Item11{
    grid-column:11/12;
    grid-row:1/2;
}
/* bottom row */
.Item12{
    grid-column:1/2;
    grid-row:11/12;
}
.Item13{
    grid-column:2/3;
    grid-row:11/12;
}
.Item14{
   grid-column:3/4;
   grid-row:11/12;
}
.Item15{
    grid-column:4/5;
    grid-row:11/12;
}
.Item16{
    grid-column:5/6;
    grid-row:11/12;
}
.Item17{
    grid-column:6/7;
    grid-row:11/12;
}
.Item18{
    grid-column:7/8;
    grid-row:11/12;
}
.Item19{
    grid-column:8/9;
    grid-row:11/12;
}
.Item20{
    grid-column:9/10;
    grid-row:11/12;
}
.Item21{
    grid-column:10/11;
    grid-row:11/12;
}
.Item22{
    grid-column:11/12;
    grid-row:11/12;
}

/* left column */    
.Item23{
    grid-column:1/2;
    grid-row:2/3;
}
.Item24{
    grid-column:1/2;
    grid-row:3/4;
}
.Item26{
    grid-column:1/2;
    grid-row:4/5;
}
.Item27{
    grid-column:1/2;
    grid-row:5/6;
}
.Item28{
    grid-column:1/2;
    grid-row:6/7;
}
.Item29{
    grid-column:1/2;
    grid-row:7/8;
}
.Item30{
    grid-column:1/2;
    grid-row:8/9;
}
.Item31{
    grid-column:1/2;
    grid-row:9/10;
}

/* right column */

.Item32{
    grid-column:11/12;
    grid-row:2/3;
}
.Item33{
    grid-column:11/12;
    grid-row:3/4;
}
.Item34{
    grid-column:11/12;
    grid-row:4/5;
}
.Item35{
    grid-column:11/12;
    grid-row:5/6;
}
.Item36{
    grid-column:11/12;
    grid-row:6/7;
}
.Item37{
    grid-column:11/12;
    grid-row:7/8;
}
.Item38{
    grid-column:11/12;
    grid-row:8/9;
}
.Item39{
    grid-column:11/12;
    grid-row:9/10;
}
.Item40{
    grid-column:11/12;
    grid-row:10/11;
}
   







