

body{
    background-color: aquamarine;        
    font-family: Quantico; /* imported font */
   
}

a{
    font: red; /*foreground*/    
    font-size: 20px;
    font-family: Roboto; /* imported font */
    
    text-align: center;/*not included in ica*/
    
}
h1,h2{
    text-align: center;
}

/*class = "Centered" - to all images*/
.Centered{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    
}
/*apply "ALast" to ICA.html page*/

#ALast 
{ 
    letter-spacing: 10px; 
}

hr{
    height:10px;   
    background-color: red;
}


/* <a> link, visited, hover, active
Set foreground colors as follows:
1. link and visited set together to green
2. hover set to yellow
3. active set to red
*/
a:link { background-color: green;}
a:hover {background-color: yellow;}
a:active { background-color: red;}

.parastyle{
   
    background-color: orange;
    font-style: italic, bold;
    font-family: roboto;

}

#unfinished{
    /* font: red; */
    text-decoration: line-through;
    background-color: red;
    border: solid, red, 2px;
    
    
}

#ica{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#html{
    
}