.container{
    display:grid;
    grid-column: repeat(3, 1fr);
    grid-row: repeat(3, 1fr);
    column-gap: 5px;
    
}


h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;

}
h2{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    /* center */
    display:block;
    margin:auto;
    padding:auto;
}

#date{
    text-align: center;
}

#winners{
    grid-column:2/3;
    grid-row:1/4;
}

#winnerstable{
    border-collapse: collapse;

    display:flex;
    justify-content: center;


}

#rental{
    grid-column:3/4;
    grid-row:1/2;
}

#rentaltable{
        display:flex;
        justify-content: center;
}
table{
        display:flex;
        margin:auto;
        padding:auto;
}

.links{
    display: flex;
        margin:auto;
        padding:auto;
    grid-column:1/2;
    grid-row:2/3;

    padding-right:40px;
    padding-left:40px;
}



#rental tr:nth-child(even){
background-color: lightgreen;
}

table{
border-collapse: collapse;
}
tr,td,th{
    
    border: solid, black , 2px;
    padding-right:40px;
    padding-left:40px;
}

/* #winnerstable tr,td,th{
    
    padding:35px;
        
} */

footer{
    text-align: center;
    color:red;

}



